USE [master]
GO
/****** Object:  Database [AmericaVirtual]    Script Date: 25/5/2020 21:45:23 ******/
CREATE DATABASE [AmericaVirtual]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AmericaVirtual', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AmericaVirtual.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AmericaVirtual_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AmericaVirtual_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AmericaVirtual].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AmericaVirtual]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 25/5/2020 21:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [int] NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Active] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 25/5/2020 21:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Active] [int] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Days]    Script Date: 25/5/2020 21:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Days](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Days] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 25/5/2020 21:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NULL,
	[LogType] [varchar](20) NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[Exception] [varchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/5/2020 21:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](30) NOT NULL,
	[Active] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherConditions]    Script Date: 25/5/2020 21:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherConditions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCity] [int] NOT NULL,
	[IdDay] [int] NOT NULL,
	[IdWeather] [int] NOT NULL,
	[TemperatureCelsius] [int] NOT NULL,
	[Precipitation] [int] NOT NULL,
	[Humidity] [int] NOT NULL,
	[Wind] [int] NOT NULL,
	[TemperatureFahrenheit] [decimal](18, 1) NOT NULL,
 CONSTRAINT [PK_WeatherConditions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weathers]    Script Date: 25/5/2020 21:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weathers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Weather] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Weathers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UniqueUsername]    Script Date: 25/5/2020 21:45:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UniqueUsername] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WeatherConditions]    Script Date: 25/5/2020 21:45:23 ******/
CREATE NONCLUSTERED INDEX [IX_WeatherConditions] ON [dbo].[WeatherConditions]
(
	[IdWeather] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WeatherConditions] ADD  CONSTRAINT [DF_WeatherConditions_Temperature]  DEFAULT ((0)) FOR [TemperatureCelsius]
GO
ALTER TABLE [dbo].[WeatherConditions] ADD  CONSTRAINT [DF_WeatherConditions_Precipitation]  DEFAULT ((0)) FOR [Precipitation]
GO
ALTER TABLE [dbo].[WeatherConditions] ADD  CONSTRAINT [DF_WeatherConditions_Humidity]  DEFAULT ((0)) FOR [Humidity]
GO
ALTER TABLE [dbo].[WeatherConditions] ADD  CONSTRAINT [DF_WeatherConditions_Wind]  DEFAULT ((0)) FOR [Wind]
GO
ALTER TABLE [dbo].[WeatherConditions] ADD  CONSTRAINT [DF_WeatherConditions_TemperatureFahrenheit]  DEFAULT ((0)) FOR [TemperatureFahrenheit]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([Country])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[WeatherConditions]  WITH CHECK ADD  CONSTRAINT [FK_WeatherConditions_Cities] FOREIGN KEY([IdCity])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[WeatherConditions] CHECK CONSTRAINT [FK_WeatherConditions_Cities]
GO
ALTER TABLE [dbo].[WeatherConditions]  WITH CHECK ADD  CONSTRAINT [FK_WeatherConditions_Days] FOREIGN KEY([IdDay])
REFERENCES [dbo].[Days] ([Id])
GO
ALTER TABLE [dbo].[WeatherConditions] CHECK CONSTRAINT [FK_WeatherConditions_Days]
GO
ALTER TABLE [dbo].[WeatherConditions]  WITH CHECK ADD  CONSTRAINT [FK_WeatherConditions_Weathers] FOREIGN KEY([IdWeather])
REFERENCES [dbo].[Weathers] ([Id])
GO
ALTER TABLE [dbo].[WeatherConditions] CHECK CONSTRAINT [FK_WeatherConditions_Weathers]
GO
USE [master]
GO
