
@{
    ViewBag.Title = "Index";
    Layout = "~/_AdminLayoutPage.cshtml";
}

<h2>Index asddaassad</h2>

@using (Html.BeginForm(""))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Index" class="btn btn-default" />
        </div>
    </div>
}

