.header {
    margin:0px;
    padding: 0px;
    background-color: rgb(255,104,89);
    font-size: 30px;
    vertical-align:central;
}
.body{
    position:relative;
    min-height:100vh;
}
.footer {
    padding: 12px;
    background-color: rgb(19,19,19);
    font-size: 14px;
    vertical-align: central;
    position:absolute;
    bottom:0;
    width:100%;
}