<!DOCTYPE html>

<html lang="en">
<head>
    <link href="~/Css/WeatherPage.css" rel="stylesheet" type="text/css" />
    @*<title class="header" style="color:white">America Virtual</title>*@
    @*<h1 class ="header" style="color:white">America Virtual</h1>*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>America Virtual</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    @*<meta name="viewport" content="width=device-width" />*@
    @*<title>@ViewBag.Title</title>*@
</head>
<body>

    <header>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade bootstrap" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>This is a small modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="background-color:rgb(255,104,89); height:60px">
            <a title="">@*<img src="~/Images/AmericaVirtualLogo.png" style="height:60px; width:60px" class="img-responsive">*@<h1 style="color:white">America Virtual</h1></a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="page-footer font-small blue fixed-bottom">
        <h2 class="footer" style="color:white">America Virtual</h2>
    </footer>
</body>
</html>
