<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>America Virtual</title>
    <link rel="stylesheet" href="~/Css/styles.css">
    <link rel="stylesheet" href="~/Css/vendor.css">
    
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Css/WeatherPage.css" rel="stylesheet" type="text/css" />*@
    @*<title class="header" style="color:white">America Virtual</title>*@
    @*<h1 class ="header" style="color:white">America Virtual</h1>*@
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>America Virtual</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    @*<meta name="viewport" content="width=device-width" />*@
    @*<title>@ViewBag.Title</title>*@
</head>
<body>
    <div>
        @RenderBody()
    </div>    
</body>
</html>
